body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #cc7722;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #ff003f;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #ffc107;
}

nav a.active {
  color: #ffc107;
}
.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f44336;
}

.quote {
  font-size: 24px;
  font-style: italic;
  text-align: center;
  max-width: 80%;
  margin-top: 30px;
  line-height: 1.5;
  color: #fff;
}
